<html>
<head>
	<title>AT Profile</title>
	<meta name="author" content="Michael B. Klein">
	<script type="text/javascript" src="/js/jquery-1.6.2.min.js"></script>
	<script type="text/javascript" src="/js/jquery-ui-1.8.16.custom.min.js"></script>
	<script type="text/javascript" src="/js/jquery.ba-hashchange.min.js"></script>
	<script type="text/javascript" src="/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="/js/jquery.kinetic.js"></script>
	<script type="text/javascript" src="/js/raphael.js"></script>
	<script type="text/javascript" src="/js/trail.js"></script>
	<script type="text/javascript" src="/js/marker.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#miles').addClass('ui-state-default ui-corner-all').focus(function() { $(this).addClass('ui-state-active') }).blur(function() { $(this).removeClass('ui-state-active') })
			$('#add_miles').button().click(function() {
				var v = $('#miles').val();
				if (v.match(/^[+-]/) == null) { v = "+" + v }
				$tc.position(v);
			});
			
      $('.scroll-panel').mouseenter(function(e) {
        $('#profile').kinetic('start',{velocity:$(this).data('v')});
      }).mouseout(function(e) {
        if (! $(e.toElement).hasClass('scroll-panel')) {
          $('#profile').kinetic('end');
        }
      });
			$('#profile').kinetic();
		});
	</script>
	<link rel="stylesheet" type="text/css" href="/css/trail.css"/>
	<link rel="stylesheet" type="text/css" href="/svg/AT_svg.css"/>
	<link rel="stylesheet" type="text/css" href="/css/sunny/jquery-ui-1.8.16.custom.css"/>
</head>
<body>
	<div id="container" class="center">
		<div class="center" style="padding-left: 49px; font-weight: bold">The Appalachian Trail</span></div>
		<embed id="grid-left" class="part" src="/svg/grid_left_s.svg" type="image/svg+xml"/>
		<div id="profile" class="part">
			<div id="overlay"></div>
		</div>
		<embed id="grid-right" class="part" src="/svg/grid_right_s.svg" type="image/svg+xml"/>
		<div class="center" style="margin-top: 310px; font-weight: normal; font-size: 9pt">Distance (mi)</span></div>
    <div class="scroll-panel" data-v="-40" style="left: 0px"></div>
<!--
    <div class="scroll-panel" data-v="-40" style="left: 0px"></div>
    <div class="scroll-panel" data-v="-30" style="left: 128px"></div>
    <div class="scroll-panel" data-v="-20" style="left: 256px"></div>
    <div class="scroll-panel" data-v="-10" style="left: 384px"></div>
    <div class="scroll-panel" data-v="+10" style="left: 512px"></div>
    <div class="scroll-panel" data-v="+20" style="left: 640px"></div>
    <div class="scroll-panel" data-v="+30" style="left: 768px"></div>
    <div class="scroll-panel" data-v="+40" style="left: 896px"></div>
-->
    <div class="scroll-panel" data-v="+40" style="left: 896px"></div>
	</div>
	<div id="controls">
		<p>You've come <span id="from-springer">0</span> miles from Springer Mtn., with <span id="to-katahdin">0</span> more miles to go to reach Katahdin!
		<p>How far did you go? <input type="text" name="miles" id="miles" value="0"/> miles. <input type="button" id="add_miles" value="Go!"/></p>
	</div>
</body>
</html>
