body {
  position: relative;
  font-family:Helvetica Neue;Verdana;Lucida Sans;sans-serif
}
.part {
  height: 400px; 
  position: absolute;
  overflow-x: hidden;
  clear: none;
}
.center {
  text-align: center;
  margin: 0 auto;
}
#preloader {
  font-size: 48px;
  text-align: center;
  vertical-align: middle;
  margin-top: 300px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
#everything {
  opacity: 0;
}
#container {
  position: relative;
  width: 1024px;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}
#grid-left  { 
  left: 4px;
  top: 21px;
  width: 54px; 
}
#grid-right {
  left: 1018px;
  top: 21px;
  width: 5px; 
}
#profile {
  z-index: -1;
  top: 0px;
  left: 54px;
  width: 968px;
}
#profile * { 
  position: absolute;
  top: 0px;
  left: 0px;
  width: 52658px; 
  height: 400px;
}
#overlay {
  z-index: 2;
}
#controls {
  padding: 10px;
  text-align: left;
  font-size: 18px;
}
#controls input {
  font-size: 18px;
}
#miles {
  padding: 6px 3px 7px;
}
input:focus {
  outline: none;
}
.scroll-panel {
  position: absolute;
  display: inline-block;
  top: 20px;
  width: 32px;
  height: 280px;
  margin: 0;
  padding: 0;
  z-index: 100;
}
.distance {
  color: green;
}