body {
  font-family:Helvetica Neue;Verdana;Lucida Sans;sans-serif
}
.part {
	height: 400px; 
	position: absolute;
	overflow-x: hidden;
	clear: none;
}
.center {
  text-align: center;
	margin: 0 auto;
}
#container {
	position: relative;
	width: 1024px;
	padding: 0;
  opacity: 0;
}
#grid-left  { 
	left: 4px;
	top: 21px;
	width: 54px; 
}
#grid-right {
	left: 1018px;
	top: 21px;
	width: 5px; 
}
#profile {
	z-index: -1;
	top: 0px;
	left: 54px;
	width: 968px;
}
#profile * { 
  position: absolute;
  top: 0px;
  left: 0px;
	width: 52658px; 
	height: 400px;
}
#overlay {
  z-index: 2;
  opacity: 0;
}
